Map

In [17]:
import pandas as pd
import numpy as np

In [18]:
# import
secondary = pd.read_csv("knack_signal_secondary_8_9.csv")
all_signal = pd.read_csv("knack_singal_all_8_9.csv")
cabinet = pd.read_csv("knack_cabinet_8_9.csv")

In [19]:
secondary.head(5)

,SIGNAL_ID,SIGNAL_TYPE,OWNER,TURN_ON_DATE,MODIFIED_DATE,COMMENT,CONTROL,ATD_LOCATION_ID,LOCATION_NAME,TURN_ON_YEAR,...,COUNT_WORK_ORDERS,SUM_LOOP_DETECTORS,SUM_VIDEO_DETECTORS,SUM_GRIDSMART_DETECTORS,SUM_NO_DETECTORS,DETECTION_TYPE,COMM_TYPE,task_order,ip_swith_cell_temp,comm_type_temp
0,8,TRAFFIC,COA,07/18/1957,09/21/2016 12:00am,NaN,SECONDARY,LOC16-000035,LAMAR BLVD / JUSTIN LN,-12,...,4,4.0,9.0,0.0,0.0,MIXED,Switch,NaN,NaN,NaN
1,18,TRAFFIC,COA,08/31/1958,01/29/2018 12:47pm,NaN,SECONDARY,LOC16-000085,MARTIN LUTHER KING JR BLVD / NUECES ST,-11,...,0,0.0,21.0,0.0,0.0,VIDEO,Switch,NaN,NaN,NaN
2,22,TRAFFIC,COA,08/31/1958,04/11/2017 4:18pm,NaN,SECONDARY,LOC16-000105,24TH ST / NUECES ST,-11,...,0,NaN,32.0,NaN,NaN,VIDEO,Switch,NaN,NaN,NaN
3,34,TRAFFIC,COA,NaN,09/21/2016 12:00am,NaN,SECONDARY,LOC16-000165,GUADALUPE ST / 30TH ST,0,...,0,0.0,46.0,0.0,0.0,VIDEO,Switch,NaN,NaN,NaN
4,36,TRAFFIC,TxDOT,10/27/1976,01/29/2018 12:53pm,NaN,SECONDARY,LOC16-000175,MARTIN LUTHER KING JR BLVD / 35 SVRD,7,...,0,0.0,35.0,0.0,0.0,VIDEO,Switch,NaN,NaN,NaN

In [20]:
# clearning crop columns
secondary = secondary[["SIGNAL_ID", "PRIMARY_SIGNAL_ID"]].copy()
all_signal = all_signal[["SIGNAL_ID", "CABINET_ID"]].copy()
cabinet = cabinet[["CABINET_ID", "SIGNAL_ID"]]

In [22]:
# cleaning change column data type
secondary["PRIMARY_SIGNAL_ID"] = secondary["PRIMARY_SIGNAL_ID"].astype(str)
secondary["SIGNAL_ID"] = secondary["SIGNAL_ID"].astype(str)
# secondary["CABINET_ID"] = secondary["CABINET_ID"].astype(str)

all_signal["SIGNAL_ID"] = all_signal["SIGNAL_ID"].astype(str)
all_signal["CABINET_ID"] = all_signal["CABINET_ID"].astype(str)

cabinet["CABINET_ID"] = cabinet["CABINET_ID"].astype(str)
cabinet["SIGNAL_ID"] = cabinet["SIGNAL_ID"].astype(str)

In [23]:
# clearning delete trailing zero
secondary["PRIMARY_SIGNAL_ID"] = secondary["PRIMARY_SIGNAL_ID"].str.split('.', expand = True)[0]
secondary["SIGNAL_ID"] = secondary["SIGNAL_ID"].str.split('.', expand = True)[0]

all_signal["SIGNAL_ID"] = all_signal["SIGNAL_ID"].str.split('.', expand = True)[0]
all_signal["CABINET_ID"] = all_signal["CABINET_ID"].str.split('.', expand = True)[0]

cabinet["SIGNAL_ID"] = cabinet["SIGNAL_ID"].str.split('.', expand = True)[0]
cabinet["CABINET_ID"] = cabinet["CABINET_ID"].str.split('.', expand = True)[0]

In [24]:
secondary["PRIMARY_SIGNAL_ID"].value_counts()

nan     3
1000    3
927     3
684     3
590     3
896     3
335     2
538     1
692     1
620     1
711     1
467     1
46      1
35      1
853     1
64      1
1013    1
994     1
1037    1
615     1
801     1
707     1
800     1
877     1
547     1
818     1
655     1
991     1
1020    1
811     1
       ..
9       1
604     1
330     1
580     1
694     1
929     1
21      1
784     1
980     1
543     1
587     1
381     1
1016    1
341     1
802     1
148     1
770     1
857     1
955     1
808     1
159     1
529     1
227     1
622     1
766     1
450     1
761     1
211     1
626     1
507     1
Name: PRIMARY_SIGNAL_ID, Length: 122, dtype: int64

In [25]:
all_signal.head(5)

  SIGNAL_ID CABINET_ID
0         2        nan
1         3        nan
2         4        nan
3         5        nan
4         6        nan

In [27]:
secondary_cab = pd.DataFrame()

In [31]:
# processing map cabinet ID to secondary signals
secondary_cab = secondary.merge(cabinet, left_on = "PRIMARY_SIGNAL_ID", right_on = "SIGNAL_ID", how = "left").copy()

In [32]:
secondary_cab.head(30)

   SIGNAL_ID_x PRIMARY_SIGNAL_ID CABINET_ID SIGNAL_ID_y
0            8                 9        616           9
1           18                21        489          21
2           22                32        499          32
3           34                46        549          46
4           36                35        472          35
5           41                42        531          42
6           72                64         35          64
7           77                92        600          92
8           97               nan        NaN         NaN
9          104               116        343         116
10         127               125        835         125
11         136               135        142         135
12         147               148         21         148
13         157               159        511         159
14         167               168        911         168
15         173               172        673         172
16         212               211        840         211
17         225              1013        NaN         NaN
18         323               324        371         324
19         331               341         36         341
20         334               335         34         335
21         336               346        253         346
22         339               227        122         227
23         340               330         32         330
24         345               335         34         335
25         380               384         41         384
26         382               386        447         386
27         385               381        152         381
28         391               nan        NaN         NaN
29         407               406        825         406

In [33]:
secondary_cab["PRIMARY_SIGNAL_ID"].value_counts()

nan     3
1000    3
927     3
896     3
684     3
590     3
671     2
335     2
692     1
620     1
467     1
538     1
46      1
711     1
35      1
853     1
64      1
1013    1
801     1
1037    1
994     1
615     1
707     1
800     1
877     1
547     1
818     1
655     1
991     1
1020    1
       ..
505     1
9       1
770     1
626     1
580     1
694     1
929     1
21      1
784     1
980     1
543     1
587     1
381     1
1016    1
341     1
802     1
330     1
148     1
857     1
955     1
808     1
159     1
529     1
227     1
622     1
766     1
450     1
761     1
211     1
507     1
Name: PRIMARY_SIGNAL_ID, Length: 122, dtype: int64